* {
    font-family: Calibri;
}

header img {
    width: 100%;
    height: 120px;
    display: block;
}

body {
    background-image: url("http://www.walthamforest-fc.co.uk/wp-content/uploads/2016/05/site-background.jpg");
    background-size: auto;
    height: 100%;
    z-index: -1;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

#nav-bar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover {
    color: blue;
    background-color: white;
}

.open-page {
    background-color: gray;
}

#image {
    max-width: 600px;
    max-height: 400px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Myself {
    text-align: center;
}

#info {
text-align: center;
}

#Motivatie-title {
text-align: center;
}

#Motivatie-text {
text-align: center;
margin: 50px;
}

#motivatie-text2 {
text-align: center;
margin: 50px 0px 15% 0px;
}

#Motivatie-h3 {
text-align: center;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 90%;
}

td img {
    width: 100%;
    height: 300px;
}

tr {
    height: 300px;
}

div ul {
    list-style-type: none;
    overflow: hidden;
    background-color: gray;
}

div ul li {
    float: left;
    display: block;
    padding-left: 50px;
}

#sitemap {
    position: absolute;
    right: 10px;
}

#footer1 {
    position: relative;
    height: 10px;
    display: block;
    color: white;
    width: 95%;
    margin: 10px;
    float: bottom;
}

#sitemap-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: white;
}

#sitemap-item {
    display: block;
    width: 60px;
}

#user-options {
    display: block;
    margin-top: 3%;
    margin-left: 20%;
}

button {
    border: none;
    background-color: gray;
    font-size: 25px;
    padding: 25px;
    margin-left: 7%;
}

.won-uitslag {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 5%;
}

#won {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 6px;
}

.lost-uitslag {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 5%;
}

#lost {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 10px;
}

.tie-uitslag {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 5%;
    margin-bottom: 35%;
}

#tie {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 20px;
    margin-left: 17px;
}
